<style>
  .items-list {
    width: 40%;

  }

  .item {
    height: 100px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .list2 {
    border: 1px solid green;
  }
</style>

<div style="display: flex">
  <div class="items-list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="numbers"
    [cdkDropListConnectedTo]="list2" #list="cdkDropList">
    <div *ngFor="let number of numbers" class="item" cdkDrag>
      {{number}}
    </div>
  </div>

  <div class="items-list list2" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="numbers2"
    [cdkDropListConnectedTo]="list" #list2="cdkDropList">
    <div *ngFor="let number of numbers2" class="item" cdkDrag>
      {{number}}
    </div>
  </div>

</div>